.about{
    display:flex;
     width:60%;
     margin:auto;
     align-items: center;
     margin-top: 60px;
     z-index: 1000;
}

@media screen and (max-width: 900px) {
    .about {
        display: block;
    }
    .about>Box>h1{
        text-align: center;
    }
  }