.navbar1{
    position: sticky;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: rgb(236, 208, 208);
    position: sticky;
    top: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgb(29, 3, 57);
}

ul{
    display: flex;
    gap: 40px;
}

.ul2{
  display: block;
}

li{
    list-style-type: none;
    /* font-family: "lorem"; */
}

li:hover{
    cursor: pointer;
}

.links{
    font-size: 25px;
    display: flex;
    gap: 25px;
}

.link{
    color:'white';
    text-decoration:'none';
    color: white;
}

.resume{
    font-size: 25px;
    color: white;
}

@media screen and (max-width: 1100px) {
     .links{
        display: none;
     }

     .resume{
        display: none;
     }
     .hamb{
        display: contents;
     }
  }

  @media screen and (min-width: 1100px) {
    .hamb{
        display: none;
    }
 }