.skills{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 justify-content: center;
 gap: 25px;
 margin-top: 50px;
}

.skillsCard{
  display: grid;
  justify-content: center;
}

.skillsCard:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.skills_img{
  width: 70px;
}


@media screen and (max-width: 1000px) {
    .skills {
        grid-template-columns: repeat(3,1fr);
    }
  }

  @media screen and (max-width: 500px) {
    .skills {
        grid-template-columns: repeat(2,1fr);
    }
  }

  @media screen and (max-width: 260px) {
    .skills {
        grid-template-columns: repeat(1,1fr);
    }
  }