
.skills{
    margin-top: 100px;
}

.skills>h1{
    color: white;
    border-bottom: 2px solid red;
    width: 100px;
    margin: auto;
}

.slills-image{
    margin-top: 30px;
    width: 60%;
    margin: auto;
    display: grid;
    /* border: 1px solid red   ; */
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
}

.slills-image>img{
    width: 90px;
    height: 70px;
    margin-left: 74px;
    /* border: 1px solid red; */
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 692px) {
    .slills-image{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
  }

  @media screen and (max-width: 392px) {
    .slills-image{
        grid-template-columns: repeat(1,1fr);
    }
  }
